body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  position: relative;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation: slideBg 12s infinite ease-in-out;
}
.header h1 {
  color: white;
  font-size: 32px;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}
/* animation chuyển ảnh */
@keyframes slideBg {
  0% {
    background-image: url("../pic/anh1.jpg");
  }
  45% {
    background-image: url("../pic/anh1.jpg");
  }
  50% {
    background-image: url("../pic/anh2.jpg");
  }
  95% {
    background-image: url("../pic/anh2.jpg");
  }
  100% {
    background-image: url("../pic/anh1.jpg");
  }
}

/* LOGO */
.logo-group {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  gap: 10px;
}

.logo-group img {
  width: 60px;
  height: auto;
  border-radius: 10px;
}

/* TITLE */
.header h1 {
  margin-top: 80px;
  font-size: 40px;
  font-weight: bold;
}

/* MENU */
.menu {
  position: absolute;
  bottom: 17%;
  right: 10%; /* 👈 đẩy qua phải */
  display: flex;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  transition: 0.3s;
}

.menu a:hover {
  text-decoration: underline;
}

footer {
  background: #00264d;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 40px;
}
.user-box {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10; /* 👈 QUAN TRỌNG */
}

.user-box span {
  font-weight: bold;
}

.user-box button {
  padding: 5px 10px;
  border: none;
  background: #ff4d4d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.user-box button:hover {
  background: #e60000;
}
