body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  position: relative;
  height: 200px;
  background: url("../pic/background1.jpg") no-repeat center;
  background-size: cover;
  color: #222;
  text-align: center;
  overflow: hidden;
}

/* LOGO */
.logo-group {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  gap: 10px;
}

.logo-group img {
  width: 60px;
  height: auto;
  border-radius: 10px;
}

/* TITLE */
.header h1 {
  margin-top: 80px;
  font-size: 40px;
  font-weight: bold;
}

/* MENU */
.menu {
  position: absolute;
  bottom: 17%;
  right: 10%; /* 👈 đẩy qua phải */
  display: flex;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  transition: 0.3s;
}

.menu a:hover {
  text-decoration: underline;
}

footer {
  background: #00264d;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 40px;
}

/* Chữ bên phải */
.text {
  margin-left: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.desc {
  margin-top: 8px;
  color: #555;
}

.activity-desc {
  display: -webkit-box;

  -webkit-line-clamp: 3; /* Chrome, Edge */
  line-clamp: 3; /* chuẩn (nhưng chưa hỗ trợ rộng) */

  -webkit-box-orient: vertical;
  overflow: hidden;
}
.activity-card {
  width: 50%;
  display: flex; /* QUAN TRỌNG */
  align-items: flex-start;
  background: white;
  margin: 15px 0;
  margin-left: 17%;
  border-radius: 8px;
  padding-bottom: 20px 0;
  border-bottom: 1px solid #ddd; /* 👈 đường kẻ mờ */
}

/* Ảnh bên trái */
.activity-img {
  width: 220px;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  padding-right: 10px;
}

/* Phần chữ bên phải */
.activity-right {
  flex: 1;
  margin-left: 10px;
}

.activity-title {
  font-size: 20px;
  font-weight: bold;
}

.activity-info {
  font-size: 14px;
  color: gray;
  margin: 5px 0;
}
/* bỏ gạch cuối */
.activity-link:last-child .activity-card {
  border-bottom: none;
}
.activity-link {
  text-decoration: none;
  color: inherit;
}
.user-box {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10; /* 👈 QUAN TRỌNG */
}

.user-box span {
  font-weight: bold;
}

.user-box button {
  padding: 5px 10px;
  border: none;
  background: #ff4d4d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.user-box button:hover {
  background: #e60000;
}
.news-container {
  max-width: 1100px;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* trái to - phải nhỏ */
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

/* ⭐ Tin nổi bật */
.news-row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.news-row img {
  width: 260px;
  height: 160px;
  object-fit: cover;
}

.news-content h2 {
  margin: 0;
  font-size: 20px;
}

.meta {
  font-size: 13px;
  color: gray;
  margin: 5px 0;
}

.news-content p {
  margin: 0;
  color: #444;
}

/* hover giống báo */
.news-row:hover h2 {
  color: #087cce;
  cursor: pointer;
}
